:root{
    --main-color:#9087f8;
    --color-dark:#1d2231;
    --text-grey:#8398a2;
    --text-white:#f3efef;
    --white:#ffff;
    --main-dark:#9087f3

}

/* css reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type:none ;
    text-decoration: none;
    font-family: 'Ubuntu',sans-serif;

}

body{
    min-height: 100vh;
    overflow-x: hidden;
}
.container{
    position: relative;
    width: 100%;
}
.navigation{
    position:fixed;
    width:300px;
    height:100%;
    background:var(--main-color);
    border-left:10px solid #6255fb ;
    transition: 0.5s;
    overflow: hidden;
}
.navigation ul{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li {
    list-style: none;
    position: relative;
    width: 100%;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
}
.navigation ul li:hover{
    background-color: var(--white);
}
.brand{
    font-family: 'Rubik Iso', cursive;
    color: var(--white);
    font-size: 35px;
    margin-bottom: 40px;
    pointer-events: none;
    text-align: center;
}

.navigation ul li:nth-child(1):hover{
    background-color: var(--main-color);
}
.navigation ul li a {
    position: relative;
    display: block;
    width:100%;
    display: flex;
    text-decoration: none;
    color: var(--text-white);
}
.navigation ul li a:hover{
    color: var(--main-dark);
}
.navigation ul li a .icon{
    display: block;
    position: relative;
     min-width: 60px;
     line-height: 75px;
     text-align: center;
}
.navigation ul li a .icon ion-icon {
font-size: 1.75rem;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    font-size: ;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}