@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@media only screen and (min-width: 900px){
*{
    box-sizing: border-box;
}
.bt10{
    margin-top: 7em;

}
/*NAV BAR STYLING */
.navbar-brand{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid #fff;
    padding: 10px 20px;
    color: #4343FF;
}
/* Header Styling*/
.header{
    padding: 7px 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9;
    transition: ease .3s;
}
/* Main Body Styling */
body{
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
/*image styling*/
.homepage-pic{
    border-radius: 7px;
    width: 70%;
    align-content: center;
    margin-top: 7em;
    
}
/*h1 span style*/
span {
color: #4343FF;
}
.main{

    display: none;
}
.main1{
    display: inline;
    margin-bottom: 1em;
}

/*Button Styles */
.login{
    padding: 5px 30px;
    background-color: #fff;
    border: 0.5px solid #000;
    margin-top: 2.3em;
}
.signup{
    padding: 5px 30px;
    margin-top: 2.3em;
    background-color: #4343FF;
}

/* Card */
#sample-text-card{
    margin: 0px 100px;
    color: white;
}

#sample-text-card h1{
    font-size: 65px;
}

#sample-text-card p{
    font-size: 14px;
}

.button-wrapper a{
    padding: 15px;
    width: 200px;
    color: white;
    box-shadow: 0px 3px 6px rgb(0, 14, 53);
}

.register{
    margin-right: 7px;;
    background-color: #FF4E00;
    border: 1px solid #882B00;
}



.submit-btn{
    background-color: #FF4E00;
    width: 200px;
    color: white;    
    box-shadow: 0px 3px 6px rgb(0, 14, 53);
}

}
@media only screen and (min-width: 768px){
    .main{
        display: none;
    }

.main1{
    display: inline;
    margin-left: 1em;
    margin-bottom: 1em;
}
.login{
    padding: 5px 30px;
    background-color: #fff;
    border: 0.5px solid #000;
    margin-top: 2.3em;
}
.signup{
    padding: 5px 30px;
    margin-top: 2.3em;
    background-color: #4343FF;
}
.homepage-pic{
    border-radius: 7px;
    width: 55%;
    align-content: center;
    margin-top: 5em;
    
}

}

/*Mobile Responsive*/

@media screen and (max-width: 500px){
    *{
        box-sizing: border-box;
    }
    .bt10{
        margin-top: 4em;
    
    }
    /*NAV BAR STYLING */
    .navbar-brand{
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 18px;
        border: 1px solid #fff;
        padding: 10px 20px;
        color: #4343FF;
    }
    /* Header Styling*/
    .header{
        padding: 7px 0;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 9;
        transition: ease .3s;
    }
    /* Main Body Styling */
    body{
        height: 100vh;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    /*image styling*/
    .homepage-pic{
        border-radius: 7px;
        width: 95%;
        align-content: center;
        margin-left: 0.5em;
        margin-top: 9em;
        
    }
    /*h1 span style*/
    span {
    color: #4343FF;
    }
    .main{
        margin-right: 2em;
        margin-top: 1em;
        font-size: 20px;
    }
    .main1{
        display: none;
    }
    
    /*Button Styles */
    .login{
        margin-left: 1.3em;
        padding: 5px 30px;
        background-color: #fff;
        border: 0.5px solid#000;
        margin-top: 3em;
    }
    
    .signup{
        padding: 5px 30px;
        margin-top: 3em;
    }
    
    /* Card */
    #sample-text-card{
        margin: 0px 100px;
        color: white;
    }
    
    #sample-text-card h1{
        font-size: 65px;
    }
    
    #sample-text-card p{
        font-size: 14px;
    }
    
    .button-wrapper a{
        padding: 15px;
        width: 200px;
        color: white;
        box-shadow: 0px 3px 6px rgb(0, 14, 53);
    }
    
    .register{
        margin-right: 7px;;
        background-color: #FF4E00;
        border: 1px solid #882B00;
    }
    
    
    
    
    .submit-btn{
        background-color: #FF4E00;
        width: 200px;
        color: white;    
        box-shadow: 0px 3px 6px rgb(0, 14, 53);
    }
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #fff;
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 30px;}
    .menu li a {padding: 5px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}
@media only screen and (max-width: 991px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #fff;
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}