*{
    box-sizing: border-box;
}

/* Main Body Styling */
body{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/main.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Card */
#sample-text-card{
    margin: 0px 100px;
    color: white;
}

#sample-text-card h1{
    font-size: 65px;
}

#sample-text-card p{
    font-size: 14px;
}

.button-wrapper a{
    padding: 15px;
    width: 200px;
    color: white;
    box-shadow: 0px 3px 6px rgb(0, 14, 53);
}

.register{
    margin-right: 7px;;
    background-color: #FF4E00;
    border: 1px solid #882B00;
}

.login{
    background-color: #FBB114;
    border: 1px solid #543800;
}

