:root{
    --main-color:#695CFE;
    --color-dark:#1d2231;
    --text-grey:#8398a2;
    --text-white:#ffffff;

}

/* css reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type:none ;
    text-decoration: none;

}

.sidebar{
    width: 345px;
    position: fixed;
    height: 100%;
    left: 0;
    right: 0;
    background-color:var(--main-color);
    z-index: 100;
   margin-top: -5.2rem;
    
}
.sidebar-brand{
    padding: 1rem 0rem 1rem 2rem;
    color: var(--text-white);
    height: 80px;
    font-family: 'Montserrat',sans-serif;
   
}
.sidebar-brand h1{
    display:inline-flex;
    align-items:center;
    font-size: 1.7rem;
}
.sidebar-menu{
    margin-top: 1rem;
    
}
.sidebar-menu span{
    display: inline-block;
    padding-right:1rem;
}
.sidebar-menu li{
    width: 100%;
    margin-bottom: 1.3rem;
    padding-left: 1rem;
}
.sidebar-menu a{
   display: block;
  color: var(--text-white);
  font: size 1.3rem;
  padding: 1rem;
  padding-left: 1rem;
  font-family: 'Montserrat',sans-serif;
}
.sidebar-menu a.active{
    background: #fff;
    color: #695CFE;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px 0 0 10px;
}
.sidebar.sidebar-menu a.active {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #695CFE;
}
.sidebar-menu a span:first-child{
    font-size: 1.1rem;
    align-items: center;
}

.main-content {
    margin-left: 346px;
   
}
header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 345px;
    width:calc(100% - 345px);
    top: 0;
    z-index: 100 ;
}
header h2{
    color: var(--text-grey);
    display: inline-flex;
    align-self: center;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
}
header label span{
    font-size: 1.7rem;
    padding-left: .5rem;
    padding-right: 1rem;
    
}
.search-wrapper{
    border: 1px solid #fefefe;
    border-radius: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
.search-wrapper span{
    font-size: 1.2rem;
    display: inline-block;
    padding: 0rem 1rem;
}
.search-wrapper input{
   height: 100%;
   padding: .5rem;
   border: none;
   outline:none;
   font-family: 'Poppins',sans-serif;
}
.user-wrapper{
    display: flex;
    align-items: center;
}
.user-wrapper img{
   border-radius: 50%;
   margin-right: .5rem;
}
.user-wrapper h4{
    display: inline-block;
    font-family: 'Montserrat',sans-serif;
    color: var(--text-grey);
}
   
main{
    margin-top: 82px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);
}
.cards{
    display: grid;
    grid-row: 1/ span 2 ;
    grid-gap: 2rem;
    margin-top: .5rem;
    
}
.card-single{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    cursor: pointer;
    border-radius: 5px;
}
.card-single h2{
    font-family: 'Poppins',sans-serif;
}
.card-single span{
    color: var(--text-grey);
    font-weight: 700;
    margin-top: .2rem;
}
.card-single ion-icon{
   font-size: 2rem;
   color: var(--main-color);
   font-weight: 500;
}
